<div class="template-intro">

    <div class="col-md-1"></div>
	 <div class="col-md-10">
        <div class="panel panel-default">
        	<div class="panel-heading">
                <h3 class="panel-title lrg">{{{title}}}</h3>
            </div>
            <div class="panel-body">{{{text}}} 
                <p class="instruction"><b>{{{instruction}}}</b></p>
                <div class="text-center"><a class="action-next btn btn-primary btn-lg next-arrow" href="#" role="button">Start</a></div>
            </div>
        </div>
     </div>
     <div class="col-md-1"></div>

</div>