<div>

    <!-- <div class="fullscreen_image" style="background-image: url('{{imagePath}}');" /> -->


    <div class="row">
        <div class="col-md-12">
            <h2>{{{title}}}<h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">{{{text}}}</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="{{image}}" />
        </div>
    </div>

    <div class="row">
        <div class="navbar col-md-12">
            {{#popups}}
                <a class="internal-popup btn btn-info" href="#" data-resource="{{resourceId}}">
                    <span>{{label}}</span>
                </a>
            {{/popups}}
        </div>
    </div>


<!--     <div class="content-box">

	    <h2 id="screen-title" class="content-title">{{{title}}}</h2>
        <div class='light-bg'>
	       <div class="content-text">{{{text}}}</div>
        </div>

        <!-- DIAGRAM HERE........ -->
<!--         <img src="{{image}}" />

        <div class='dark-box'>
            <div class="content-text small clearfloats">{{{small}}}</div>
        </div>

        <div class="clearfloats">
            {{#popups}}
                <a class="internal-popup btn btn-info" href="#" data-resource="{{resourceId}}">
                    <span>{{label}}</span>
                </a>
            {{/popups}}
        </div> -->

		<!-- <div class="column-50 content-text small">{{{small}}}</div> -->

	</div> -->
    
    
</div>
