<div>
	

    <style>

    	.goal{
    		padding: 0px;
    		margin-bottom: 20px;
    		width: 30%;
    		float: left;
/*            margin-left: 30px;*/
    		margin-right: 20px;
    		min-height: 200px;
    		position: relative;
    	}

    	.goal .label{
    		padding: 10px;
    		padding-left: 15px;
    		padding-right: 15px;
    		font-family: 'Open Sans', sans-serif;
    		font-size: 20px;
    		font-weight: 400;
    		width: auto;
    		display: inline-block;
/*    		position: absolute;
    		top: 0;
    		left: 0;*/
    	}

    	.goal .content-text{
    		padding: 10px;
/*    		padding-top: 20px;*/
    		margin-left: 20px;
    	}

        .content-text{
            margin-bottom: 20px;
        }

        .content-box{
            width: 60%;
        }

        .content-box h5{
            color: #000;
        }

        #box2{
            margin-top: 20px;
        }

    </style>

    <div class="fullscreen_image" style="background-image: url('{{imagePath}}');" />

    <div class="content-box light-box">


	    <h2 id="screen-title" class="content-title">{{{title}}}</h2>
        <div>{{{text}}}</div>
    </div>

    <div id="box2" class="content-box light-box">
        <h5>{{{subtitle}}}</h5>
         <div>{{{text_2}}}</div>

	</div>
    
    
</div>
