<div class="menu">

        {{#if text}}<div>{{text}}</div>{{/if}}
        
        <div id="main-menu-holder">
            
        </div>
        
        
        <div class="clear"></div>
        <div id="complete-progress">
            <div class="progress-bar"></div>
            <div class="sub-title"><span class="percentNumber">?</span>% Complete</div>
        </div>
        
        <div class="menu-key">
            <ul>
                <li class="menuItem notattempted"><div class='status-icon'></div>Not Started</li>
                <li class="menuItem incomplete"><div class='status-icon'></div>Not Completed</li>
                <li class="menuItem completed" ><div class='status-icon'></div>Completed</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="footer">
        
        </div>
        

</div>
