<div class="settings-pop">

	<script type="text/javascript" src="js/templates/settings.js"></script>

    <div id="color-contrast" class="menu">
    	<div class="sub-title">Colours</div>
        <ul>
            <li class="menuItem"><a id="yellow-black-btn" class="button label high-contrast">I can't see very well</a></li>
            <li class="menuItem"><a id="blue-blue-btn" class="button label dislexic">I find words difficult</a></li>
        </ul>
    </div>
    
    <div id="font-size" class="menu">
    	<div class="sub-title">Fonts</div>
        <ul>
            <li class="menuItem"><a id="font-small-btn" class="button label small">Small</a></li>
            <li class="menuItem"><a id="font-medium-btn" class="button label medium">Medium</a></li>
            <li class="menuItem"><a id="font-large-btn" class="button label large">Large</a></li>
        </ul>
    </div>
    
    <div id="footer" class="menu">
        <ul>
            <li class="menuItem"><a id="reset-seetings-btn" class="button label control">Reset settings</a></li>
            <li class="menuItem"><a id="close" class="button label control">Close</a></li>
        </ul>
	</div>
    
    <div class="clear"></div>
</div>
