
video.bg { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	/*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
  	background-size: cover;
  	/*transition: 1s opacity;*/
}

.template{
    position: relative;
}


/* HEADER */

#header{
    background-color: #0090c5;
    border-style: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0090c5+0,0090c5+100&amp;0.4+0,0.4+100 */
    background: -moz-linear-gradient(top,  rgba(0,144,197,0.4) 0%, rgba(0,144,197,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,144,197,0.4) 0%,rgba(0,144,197,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,144,197,0.4) 0%,rgba(0,144,197,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660090c5', endColorstr='#660090c5',GradientType=0 ); /* IE6-9 */
    color: #FFF;
}

#info-btn{
    width: 24px;
    height: 24px;
    border-style: none;
    background: none;
    background-image: url('images/info_btn.png');
    margin-top: 13px;
}

#info-btn .button-label{
    display: none;
}

#course-title{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*pop_bg.png*/




#nav{
    background-color: transparent;
    border-style: none;
    background-image: url('images/nav_bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    height: 98px;
}

/* NAV BUTTONS */

#menu-btn{
    opacity: 0.3;
    background: none;
    border-style: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight:  600;
    font-size: 18px;
    background: url('images/menu_arrow.png') no-repeat;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px;
}
#menu-btn:hover{
    opacity: 1;
}
#menu-btn.current,
#menu-btn.disabled{
    display: none;
}
#menu-btn .button-label {
    margin-left: 20px;
}

#next-btn,
#back-btn{
    background: none;
    border-style: none;
    box-shadow: none;
    background-repeat: no-repeat;
    width: 35px;
    height: 30px;
    opacity: 1;
    position: fixed;
    left: 50%;
    margin-left: -17px;
    transition: .5s opacity;
}

#next-btn.disabled,
#back-btn.disabled{
    opacity: 0.3;
}

#next-btn{
    background-image: url('images/next_arrow.png');
    bottom: 10px;
}

#back-btn{
    background-image: url('images/back_arrow.png');
    bottom: 35px;
}

#next-btn:hover,
#back-btn:hover{
    opacity: 1;
}



#next-btn .button-label,
#back-btn .button-label{
    display: none;
}

#menus-container{
    position: relative;
    width: 100%;
/*    height: 100%;*/
}


/* SCROLL MENU */

#scroll-menu{
    position: fixed;
    left: 100%;
    top: 40%;
    width: 50px;
    margin-left: -50px;
    z-index: 101;
   /* background-color: rgba(255,255,255, 0.15);
    border-style: solid;
    border-color: rgba(255,255,255,.5);
    border-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;
}

#scroll-menu ul{
    display: block;
    margin: 0;
    padding: 0;
    
}

#scroll-menu .link-item{
    display: block;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

#scroll-menu .link-item a{
    display: block;
    width: 10px;
    height: 10px;
    /*background-color: #444;*/
    opacity: 0.3;
    background-image: url('images/progress_btn.png');
}

#scroll-menu .link-item.current a{
    opacity: 1;
    /*background-color: #FFF;*/
}

#scroll-menu .link-item a .link-label{
    display: none;
}


/* SUB MENU */

#sub-menu{
    position: absolute;
    left: 0px;
    top: 60px;
    z-index: 102;
}

#sub-menu ul{
    display: block;
    margin: 0;
    padding: 0;
}

#sub-menu .link-item{
    display: block;
}

#sub-menu .link-item a{
    display: block;
    margin: 5px;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .5);
    background-image: url('images/sub_menu_item.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, .35);
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    display: block;
    text-decoration: none;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

#sub-menu .link-item.current a{
    background-image: url('images/sub_menu_item_current.png');
}


H2{
    text-align: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-color: rgba(255, 255, 255, .5);
    border-width: 1px;
    padding-bottom: 15px;
   /* box-shadow: 0px 0px 6px rgba(255, 255, 255, .35);*/
}

.main-text{
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #FFF;
    /*padding-top: 50px;*/
    width: 740px;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -370px;

}


/* MAIN MENU */

.menu-item,
.menu-item:visited{
    display: block;
    background-image: url('images/menu_item_bg_standard.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-color: rgb(103, 142, 164);
    border-color: rgba(255, 255, 255, .5);
    border-style: solid;
    border-width: 1px;
    border-top-width: 5px;
    border-top-color: #FFF;
    border-radius: 10px;
    color: #FFF;
    padding: 10px;
    padding-top: 40px;
    margin: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    min-height: 140px;
/*    -webkit-transition: .5s -webkit-filter linear;*/
}


/*.animation-complete .menu-item{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
}

.animation-started .menu-item{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}*/

.menu-item:hover{
    background-image: url('images/menu_item_bg_focused.png');
    text-decoration: none;
    color: #FFF;
    opacity: 1;
    -moz-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, .35);
}

.menu-item.disabled:visited,
.menu-item.disabled{
    background-image: url('images/menu_item_bg_disabled.png');
    opacity: 0.3;
    cursor: default;
    text-decoration: none;
    color: #FFF;
}

.menu-item.disabled:hover{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.menu-item.disabled .arrow-icon,
.menu-item .lock-icon{
    display: none;
}

.menu-item .arrow-icon,
.menu-item.disabled .lock-icon{
    display: block;
}

.menu-item > .lock-icon,
.menu-item > .arrow-icon{
    position: relative;
    left: 50%;
    margin-top: 15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
}

.menu-item-label{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.modal-backdrop.in{
    opacity: .9;
}

.modal-dialog{
    margin-top: 50px;
    width: 100%;
    max-width: 970px;
}

.modal-header{
    border-color: rgba(255, 255, 255, .5);
}

.modal-header .close{
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: normal;
    opacity: 1;
}

.modal-title{
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    text-align: center;
}

.modal-content{
    background: none;
    background-image: url('images/pop_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-color: rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, .35);
    color: #FFF;
    padding-bottom: 30px;
}

.modal-content .center-content > *{
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

.modal-content p.main{
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    max-width: 500px;
}

.modal-content .small{
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
}

.modal-content .small h3{
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}



.glow-bg{
    background-image: url('images/box_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    color: #FFF;
    -moz-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, .35);
}

.glow-box{
    position: absolute;
    left: 50%;
    /*top: 0px;
    left: 50%;
    left: 0px;*/
    padding: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

.glow-box.columns-2{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
}

.glow-box.columns-2 h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    text-align: center;
}

.glow-box h4{
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0;
}

.template-text-tables .glow-box h4{
    text-align: left;
}

.small-title h4,
.glow-box h5,
.glow-box.columns-2 h4{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    padding-bottom: 0;
    text-align: left;
}


.glow-box.center-text{
    text-align: center;
}
.glow-box.font-lrg{
    font-size: 24px;
}
.font-med .main-text,
.glow-box.font-med{
    font-family: 'open sans';
    font-size: 14px;
}
.glow-box.off-right{
    margin-left: -140px;
}
.glow-box.off-left{
    margin-left: 140px;
}
.left-align .main-text{
    text-align: left;
}

.multiplebgs .glow-box.speach .inner{
    background: url(images/speach_closed.png) right 20px bottom no-repeat, url(images/speach_open.png) left top no-repeat;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 16px;
}

.no-multiplebgs .glow-box.speach .inner{
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 16px;
}

.glow-box .inner a{
    display: inline-block;
    background: url('images/resource_link.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    min-width: 195px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 14px;
    -moz-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, .35);
    margin: 5px;
}

.glow-box .inner a img{
    float: right;
}



.nav-tabs{
    border-bottom-style: none;
}

.nav-tabs > li > a.tab{
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(255, 255, 255, .15);
    color: #FFF;
    height: 55px;
    border-style: none;
    border-bottom-style: solid;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
/*    margin-right: 0;*/

}

.nav-tabs > li.last > a.tab{
    margin-right: 0;
}

.nav-tabs > li > a.tab:hover,
.nav-tabs > li.active > a.tab{
    /*background-image: url('images/box_bg.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-style: solid;
    border-bottom-style: none;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .5) !important;;
    /*background-color: transparent !important;*/
    background-color: rgba(255, 255, 255, .27);
    color: #FFF !important;

}
/*.nav-tabs > li{
    margin-bottom: 1px;
}*/
.nav-tabs > li.active{
    margin-bottom: 0;
}

.tab-pane{
    background-image: url('images/box_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    color: #FFF;
/*    -moz-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, .35);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, .35);*/

    border-radius: 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
/*    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;*/

    border-top-style: none;
    padding: 20px;

    font-family: 'open sans';
    font-size: 14px;
    min-height: 500px;
}

.tab-pane.last{
    /*-webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;*/
}

.tab-pane .column{
    padding-left: 30px;
    padding-right: 30px;
}

.tab-pane h4{
    /*font-family: 'open sans';*/
    font-weight: bold;
   /* font-size: 14px;*/
    text-align: center;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding-bottom: 20px;
}

.tab-pane .foot{
    text-align: center;
    padding-top: 20px;
}

.multiplebgs .tab-pane span.speach{
    display: block;
    background: url(images/speach_closed.png) right 20px bottom no-repeat, url(images/speach_open.png) left top no-repeat;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.no-multiplebgs .tab-pane span.speach{

}


span.title_2a{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 45px;
    display: block;
    float: left;
    line-height: 1;
    border-bottom-style: solid;
    border-width: 2px;
    margin-right: 10px;
    margin-bottom: 20px;
}

span.line_2a{
    font-family: 'Open sans';
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    display: block;
    line-height: 1;
}

span.line_2a b{
    font-size: 22px;
}

#template-wrapper.submenu-offset{
    margin-left: 210px;
    position: relative;
}
.text-col,
table{
    margin-bottom: 40px;
}
tr{

}

th{
    background-color: #008aca;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #FFF;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 50%;
}

td{
    width: 50%;
    border-bottom-style: solid;
    border-color: #FFF;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.example-links{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/*MODERNISR FIXES*/

.no-video #main{
    background-image: url('images/background.png');
    background-position: center bottom;
    background-color: #000;
}

.video #main{
    background-image: none;
}


.no-opacity .menu-item,
.no-backgroundsize .menu-item{
    width: 310px;
    height: 125px;

    border-style: none;
    background-image: url('images/IE/menu_item_active.png');
}

.no-opacity .menu-item.disabled .lock-icon,
.no-backgroundsize .menu-item.disabled .lock-icon,
.no-opacity .menu-item .arrow-icon,
.no-backgroundsize .menu-item .arrow-icon{
    display: none !important;
}

.no-opacity .menu-item:visited,
.no-backgroundsize .menu-item:visited{
    background-image: url('images/IE/menu_item_active.png');
}

.no-opacity .menu-item:hover,
.no-backgroundsize .menu-item:hover{
    background-image: url('images/IE/menu_item_focussed.png');
}

.no-opacity .disabled.menu-item,
.no-backgroundsize .disabled.menu-item{
    color: #4b7386;
    background-image: url('images/IE/menu_item_disabled.png');
}

.no-rgba .nav-tabs > LI > A.tab,
.no-backgroundsize .tab-pane,
.no-backgroundsize .glow-bg{
    background-color: transparent;
    background-image: url('images/IE/glow_bg.png');
    background-repeat: repeat;
}

.no-rgba .tab-pane,
.no-rgba .glow-bg{
    border-color: #809fb2;
}

.no-rgba .nav-tabs > LI > A.tab{
    border-color: #809fb2;
}

.no-opacity .nav-tabs > LI > A.tab{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter: alpha(opacity=50);
}

.no-opacity .nav-tabs > LI.active > A.tab{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
}

.no-backgroundsize .glow-box .inner a{
    background: url('images/IE/btn_bg.png');
    background-repeat: repeat;
}

.no-rgba .glow-box .inner a{
    border-color: #80a6ba
}

.no-opacity #back-btn,
.no-opacity #next-btn{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
}

.no-opacity .disabled#back-btn,
.no-opacity .disabled#next-btn{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
   filter: alpha(opacity=30);
}


.no-opacity #menu-btn{
   /* color: #747475;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
   filter: alpha(opacity=30);
}
.no-opacity #menu-btn:hover{
   /* color: #FFFFFF;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
}

.no-rgba #scroll-menu{
/*    background-image: url('images/IE/glow_bg.png');
    background-repeat: repeat;
    border-color: #809fb2;*/
}

.no-opacity #scroll-menu .link-item a{
   /* grey dot .3*/
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
   filter: alpha(opacity=30);
}

.no-opacity #scroll-menu .link-item.current a{
   /* white dot 1*/
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
}

.no-rgba #sub-menu .link-item a{
    border-color: #80909a;
}

.no-opacity .in.modal-backdrop{
    filter: alpha(opacity=90);
}

.no-opacity .modal-header .close{
    filter: alpha(opacity=100);
}

.no-backgroundsize .modal-content{
    background-image: url('images/IE/pop_bg.png');
    background-repeat: repeat;
}
.no-rgba .modal-header,
.no-rgba  .modal-content{
    border-color: #808182;
}